/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*==================== VARIABLES CSS ====================*/
/*========== Colors ==========*/
/* Change favorite color */
/*Purple 250 - Green 142 - Blue 230 - Pink 340*/
/* HSL color mode */
/*========== Font and typography ==========*/
/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
/* Font size for large devices */
/*========== Font weight ==========*/
/*========== Margenes Bottom ==========*/
/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
/*========== z index ==========*/
/*========== Variables Dark theme ==========*/
body {
  -webkit-transition: .3s;
  transition: .3s;
}

body.dark-theme {
  /* HSL color mode */
}

/*========== Button Dark/Light ==========*/
.nav__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: #242329;
  margin-right: 1rem;
  cursor: pointer;
}

.change-theme:hover {
  color: #6e57e0;
}

/*==================== BASE ====================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #fbfbfe;
  color: #6d6a7c;
}

h1, h2, h3, h4 {
  color: #242329;
  font-size: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: 0.813rem;
  margin-bottom: 3rem;
}

.section__title, .section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fbfbfe;
}

/*==================== NAV ====================*/
.nav {
  max-width: 968px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo, .nav__toggle {
  color: #242329;
  font-weight: 500;
}

.nav__logo:hover {
  color: #6e57e0;
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: #6e57e0;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #fbfbfe;
    padding: 2rem 1.5rem 4rem;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.nav__list {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.938rem;
  color: #242329;
  font-weight: 500;
}

.nav__link:hover {
  color: #6e57e0;
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6e57e0;
}

.nav__close:hover {
  color: #5a43cb;
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  color: #6e57e0;
}

/* Change background header */
.scroll-header {
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*==================== HOME ====================*/
.home__container {
  gap: 1rem;
}

.home__content {
  -ms-grid-columns: .5fr 3fr;
      grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  color: #6e57e0;
}

.home__social-icon:hover {
  color: #5a43cb;
}

.home__blob {
  width: 200px;
  fill: #6e57e0;
}

.home__blob-img {
  width: 170px;
}

.home__data {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.home__title {
  font-size: 2rem;
}

.home__subtitle {
  font-size: 1.125rem;
  color: #6d6a7c;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.home__description {
  margin-bottom: 2rem;
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: #6e57e0;
  -webkit-transition: .3s;
  transition: .3s;
}

.home__scroll-button:hover {
  -webkit-transform: translate(0.25rem);
          transform: translate(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: 0.75rem;
  color: #242329;
  font-weight: 500;
  margin-right: 0.25rem;
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: #6e57e0;
  color: #FFF;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: 500;
}

.button:hover {
  background-color: #5a43cb;
}

.button__icon {
  font-size: 1.24rem;
  margin-left: 0.5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.button--white {
  background-color: #FFF;
  color: #6e57e0;
}

.button--white:hover {
  background-color: #FFF;
}

.button--flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button--small {
  padding: .75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: #6e57e0;
}

.button--link:hover {
  background-color: transparent;
  color: #5a43cb;
}

/*==================== ABOUT ====================*/
.about__img {
  width: 400px;
  border-radius: .5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.about__info-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #242329;
}

.about__info-name {
  font-size: 0.75rem;
}

.about__info-title, .about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*==================== SKILLS ====================*/
.skills__container {
  row-gap: 0;
}

.skills__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.skills__icon, .skills__arrow {
  font-size: 2rem;
  color: #6e57e0;
}

.skills__icon {
  margin-right: 0.75rem;
}

.skills__title {
  font-size: 1.125rem;
}

.skills__subtitle {
  font-size: 0.813rem;
  color: #a19fad;
}

.skills__arrow {
  margin-left: auto;
  -webkit-transition: .4s;
  transition: .4s;
}

.skills__list {
  row-gap: 1.5rem;
}

.skills__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills__name {
  font-size: 0.938rem;
  font-weight: 500;
}

.skills__bar, .skills__percentage {
  height: 5px;
  border-radius: .25rem;
}

.skills__bar {
  background-color: #c1b6fc;
}

.skills__percentage {
  display: block;
  background-color: #6e57e0;
}

.skills__html {
  width: 90%;
}

.skills__css {
  width: 90%;
}

.skills__js {
  width: 75%;
}

.skills__angular {
  width: 80%;
}

.skills__react {
  width: 60%;
}

.skills__php {
  width: 65%;
}

.skills__node {
  width: 80%;
}

.skills__firebase {
  width: 50%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills__open .skills__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/*==================== QUALIFICATION ====================*/
.qualification {
  /* adding color to grid to see how it works */
  /* &__data > * {
        border: 2px solid rgb(214,232,182);
    } */
}

.qualification__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
}

.qualification__button {
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}

.qualification__button:hover {
  color: #6e57e0;
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: 0.25rem;
}

.qualification__data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.qualification__title {
  font-size: 0.938rem;
  font-weight: 500;
}

.qualification__subtitle {
  display: inline-block;
  font-size: 0.813rem;
  margin-bottom: 1rem;
}

.qualification__calendar {
  font-size: 0.813rem;
  color: #a19fad;
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #6e57e0;
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #6e57e0;
  -webkit-transform: translate(6px, -7px);
          transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: #6e57e0;
}

/*==================== SERVICES ====================*/
.services__container {
  gap: 1.5rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.services__content {
  position: relative;
  background-color: #FFF;
  padding: 3.5rem .5rem 1.25rem 1.5rem;
  border-radius: .25rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.services__content:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services__icon {
  display: block;
  font-size: 1.5rem;
  color: #6e57e0;
  margin-bottom: 1rem;
}

.services__title {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.services__button {
  cursor: pointer;
  font-size: 0.813rem;
}

.services__button:hover .button__icon {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.services__modal-content {
  position: relative;
  background-color: #FFF;
  padding: 1.5rem;
  border-radius: .5rem;
}

.services__modal-services {
  row-gap: 1rem;
}

.services__modal-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__modal-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.services__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #6e57e0;
  cursor: pointer;
}

.services__modal-icon {
  color: #6e57e0;
  margin-right: 0.25rem;
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

/*==================== PORTFOLIO ====================*/
.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}

.portfolio__img {
  width: 265px;
  border-radius: 0.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.portfolio__title {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.portfolio__description {
  margin-bottom: 0.75rem;
}

.portfolio__button:hover .button__icon {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.swiper-button-prev::after, .swiper-button-next::after {
  content: '';
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: #6e57e0;
}

.swiper-button-prev {
  left: -.5rem;
}

.swiper-button-next {
  right: .5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background-color: #6e57e0;
}

.swiper-button-prev, .swiper-button-next, .swiper-pagination-bullet {
  outline: none;
}

/*==================== PROJECT IN MIND ====================*/
.project {
  text-align: center;
}

.project__bg {
  background-color: #6e57e0;
  padding-top: 3rem;
}

.project__title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.project__description {
  margin-bottom: 1.5rem;
}

.project__title, .project__description {
  color: #FFF;
}

.project__img {
  width: 350px;
  -ms-grid-column-align: center;
      justify-self: center;
}

/*==================== TESTIMONIAL ====================*/
.testimonial__data, .testimonial__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial__data {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.testimonial__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.testimonial__name {
  font-size: 1.125rem;
  font-weight: 500;
}

.testimonial__client {
  font-size: 0.813rem;
  color: #a19fad;
}

.testimonial__description {
  margin-bottom: 2.5rem;
}

.testimonial__icon-star {
  color: #6e57e0;
}

.swiper-container .swiper-pagination-testimonial {
  bottom: 0;
}

/*==================== CONTACT ME ====================*/
.contact__container {
  row-gap: 3rem;
}

.contact__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.contact__icon {
  font-size: 2rem;
  color: #6e57e0;
  margin-right: 0.75rem;
}

.contact__title {
  font-size: 1.125rem;
  font-weight: 500;
}

.contact__subtitle {
  font-size: 0.813rem;
  font-weight: #a19fad;
}

.contact__content {
  background-color: #f0eefc;
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contact__label {
  font-size: 0.813rem;
  color: #242329;
}

.contact__input {
  width: 100%;
  background-color: #f0eefc;
  color: #6d6a7c;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}

/*==================== FOOTER ====================*/
.footer {
  padding-top: 2rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: #6e57e0;
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.footer__subtitle {
  font-size: 0.813rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover {
  color: #c1b6fc;
}

.footer__social {
  font-size: 1.25rem;
  margin-right: 1.5rem;
}

.footer__social:hover {
  color: #c1b6fc;
}

.footer__copy {
  font-size: 0.813rem;
  text-align: center;
  color: #a19fad;
  margin-top: 3rem;
}

.footer__title, .footer__subtitle, .footer__link, .footer__social {
  color: #FFF;
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: #6e57e0;
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: 10;
  -webkit-transition: .4s;
  transition: .4s;
}

.scrollup:hover {
  background-color: #5a43cb;
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #FFF;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: #e3e2e9;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #c8c6d2;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a19fad;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav__menu {
    padding: 2rem .25rem 4rem;
  }
  .nav__list {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .home__content {
    -ms-grid-columns: .25fr 3fr;
        grid-template-columns: .25fr 3fr;
  }
  .home__blob {
    width: 180px;
  }
  .skills__title {
    font-size: 0.938rem;
  }
  .qualification__data {
    gap: 0.5rem;
  }
  .services__container {
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__content {
    padding-right: 3.5rem;
  }
  .services__modal {
    padding: 0 .5rem;
  }
  .project__img {
    width: 250px;
  }
  .testimonial__data, .testimonial__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonial__img {
    margin-right: 0;
    margin-bottom: 0.25rem;
  }
  .testimonial__data, .testimonial__description {
    text-align: center;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home__content {
    -ms-grid-columns: max-content 1fr 1fr;
        grid-template-columns: -webkit-max-content 1fr 1fr;
        grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    grid-column: initial;
  }
  .home__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .about__container,
  .skills__container,
  .portfolio__content,
  .project__container,
  .contact__container,
  .footer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .qualification__sections {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .6fr;
        grid-template-columns: .6fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section__subtitle {
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }
  .nav {
    height: calc($header-height + 1.5rem);
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .nav__icon, .nav__close, .nav__toggle {
    display: none;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }
  .home__container {
    row-gap: 5rem;
  }
  .home__content {
    padding-top: 5.5rem;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .home__blob {
    width: 270px;
  }
  .home__scroll {
    display: block;
  }
  .home__scroll-button {
    margin-left: 3rem;
  }
  .about__container {
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  .about__img {
    width: 350px;
  }
  .about__description {
    text-align: initial;
  }
  .about__info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__buttons {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .qualification__tabs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .qualification__button {
    margin: 0 1rem;
  }
  .qualification__sections {
    -ms-grid-columns: .5fr;
        grid-template-columns: .5fr;
  }
  .services__container {
    -ms-grid-columns: (218px)[3];
        grid-template-columns: repeat(3, 218px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__icon {
    font-size: 2rem;
  }
  .services__content {
    padding: 6rem 0 2rem 2.5rem;
  }
  .services__modal-content {
    width: 450px;
  }
  .portfolio__img {
    width: 320px;
  }
  .portfolio__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project {
    text-align: initial;
  }
  .project__bg {
    background: none;
  }
  .project__container {
    background-color: #6e57e0;
    border-radius: 1rem;
    padding: 3rem 2.5rem 0;
    -ms-grid-columns: 1fr max-content;
        grid-template-columns: 1fr -webkit-max-content;
        grid-template-columns: 1fr max-content;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .footer__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg {
    padding: 3rem;
  }
  .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .footer__socials {
    justify-self: flex-end;
  }
  .footer__copy {
    margin-top: 4.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }
  .home__blob {
    width: 320px;
  }
  .home__social {
    -webkit-transform: translateX(-6rem);
            transform: translateX(-6rem);
  }
  .services__container {
    -ms-grid-columns: (238px)[3];
        grid-template-columns: repeat(3, 238px);
  }
  .portfolio__content {
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }
  .swiper-button-prev {
    left: -3.5rem;
  }
  .swiper-button-next {
    right: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }
  .contact__form {
    width: 460px;
  }
  .contact__inputs {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=new-styles.css.map */